.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.noTodosMessage{
  font-size: 3rem;
}

.newTodoForm__description{
  min-height: 1rem;
}
form{
  background-color: white;
  padding: 1rem 5rem ;
  border-radius: 1rem;
  width: 30rem;

}

.todoItem{
  background-color: white;
  min-width: 15rem;
  word-break: break-all;
  box-shadow: 6px 5px 10px;
  /* max-width: 16rem; */
  margin-bottom: 1rem;
}

.todoItem__title{
  color: black;
  font-size: 1.2rem;
  
}
.todoItem__dueDate{
  color: black;
  font-size: 1rem;
}
.todoItem__header{
  display: flex;
  color: black;
  padding: 0 .5rem;
  background-color: #e5e5e5;
  flex-direction: column;
  align-items: baseline;
}
.todoItem__footer{
  display: flex;
  padding: .5rem;
  background-color: #e5e5e5;
  justify-content: flex-end
}

.todoItem__description{
  white-space: pre-wrap;
  text-align: left;
  min-height: 2rem;
  font-size: 1rem;
  padding: 1rem;
}